.nextfight{
    display: grid;
    grid-template-columns: repeat(3,3FR);
    grid-template-rows: 1;
    height: 260px;
    width: 907px;
    margin-top: 55px;

    .nextfight-challenge{ 
        grid-column: 1/1;
        background: #262729;
        padding: 0 15px;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: repeat(5,5FR);
        header{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            grid-row: 1/2;
            // border:1px solid red;
        }
        footer{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            grid-row: 4/6;
            // border:1px solid red;
        }

        .fa-gears:before, .fa-cogs:before {
            content: "\f085";
            margin-left: 101px;
        }
    }
    .nextfight-description{
        grid-column: 2/4;
        background: #3C3C3C;
        padding: 0 15px;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: repeat(5,5FR);
        header{
            grid-row: 1/2;
            // border:1px solid red;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .nextfight_description-scroll{
            grid-row:2/5;
            overflow-y: scroll;
            height: 155px;
            background: #242424;
            padding: 10px;
        }
        
        footer{
            position: relative;
            grid-row:5/6;
            // border:1px solid palevioletred;
            display: flex;
            flex-direction: row;
            align-items: center;
            .nextfight_gradient{
                width:100%;
                height: 25px;
                background: linear-gradient((180deg),rgba(0,0,0,0), #3C3C3C);
                position: absolute;
                top: -25px;
                border-radius: 0px;
            }
            div{
                background: #363636;
                margin-right: 10px;
                height: 22px;
                display: flex;
                align-items: center;
                padding: 4px;
                border-radius: 4px;
                font-size: 10px;
                letter-spacing: 1px;
            }
        }
    }
}

.nextfight_language {
    width: 100%;
    height: 41px;
    background-color: #313234;
    padding-left: 10px;
    padding-top: 11px;
    margin-top: 10px;
    font-size: 14px;
    i {
        margin-right: 5px;
    }
}

