.Instructions {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    b {
        font-weight: bold;
    }
    code {
        background: rgba(255, 255, 255, 0.1);
        font-family: monospace;
        margin: 0 0.2rem;
        border-radius: 0.25rem;
        * {
            font-family: inherit;
        }
    }
    span {
        line-height: 1.5rem;
    }
    .code-block {
        // padding: 0.25rem;
        margin: 0.25rem 0;
        background: rgba(255, 255, 255, 0.1);
        font-family: monospace;
        code {
            background: none;
            font-family: inherit;
            border-radius: none;
        }
    }
}