.Instructions {
  margin: 5rem 10rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.7); }
  .Instructions .code-block {
    padding: 0.5rem;
    margin-top: 0.24rem;
    background: rgba(0, 0, 0, 0.1); }
