.header {
  font-family: "Lato";
  width: 100%;
  height: 75px;
  padding: 5px 15px;
  display: flex;
  flex-direction: column; }
  .header top {
    height: 50%;
    display: flex;
    align-items: center; }
  .header bottom {
    height: 50%;
    display: flex;
    align-items: center;
    padding-left: 5px; }
    .header bottom i {
      margin-right: 5px; }
    .header bottom div {
      margin-right: 15px; }
