.header{
    width: 100%;
    height: 75px;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    top{
        height: 50%;
        display: flex;
        align-items: center;
    }
    bottom{
        height: 50%;
        display: flex;
        align-items: center;
        padding-left: 5px;

        i {
            margin-right: 5px;
        }

        div {
            margin-right: 15px;
        }
    }
}