.fightdetails_body {
    padding: 15px;
    font-family: "Lato";
}

.fightdetails_full-header {
    width:100%;
    height: 75px;
    background: #262729;
    display:flex;
    flex-direction: row;
}

.fightdetails_full-header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55%;
    justify-content: flex-end;
    padding: 0 25px;
}

.fightdetails_options {
    width: 100%;
    margin-top: 15px;
    button {
        height: 40px;
        padding: 0 30px;
        background: none;
        border: none;
        color:whitesmoke;
        border-radius: 0px;
        font-size: 12px;
        letter-spacing: .4px;
    }
}

.fightdetails_container {
    width: 100%;
    margin-top: 15px;
}

.fightdetails_tags {
    padding:0 10px;
    width: 100%;
    height: 45px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    div{
        background: #222325;
        margin-right: 10px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        border-radius: 4px;
        font-size: 10px;
        letter-spacing: 1px;
    }
}

.fightdetails_dark-container{
    background: #262729;
}

#fightdetails_selected {
    background: #454648;
}

