@import url('https://fonts.googleapis.com/css?family=Lato');

.catfight_wrapper {
    width: 99%;
    max-width: 1800px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 65px 1fr;
    font-family: 'Lato';
    color: #efefef;
    font-weight: 100;
    #ace1 {
        height: 38.4vh !important;
    }
}

.catfight_output {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-color: #222224;
    width: 100%;
    height: 80vh;
    margin-right: 10px;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 10px;
}

.catfight_output-header {
    width: 100%;
    height: 40px;
    background-color: #262729;
    z-index: 20;
    display: flex;
}

.catfight_output-header div {
    margin-right: 10px;
    height: 100%;
    width: 116px;
    padding-top: 12px;
    padding-left: 15px;
}

.catfight_output-header div:hover {
    cursor: pointer;
}

.catfight_output-header div:nth-child(2) {
    padding-left: 32px;
}

.catfight_ouput-header div:hover {
    cursor: pointer
}

.catfight_output-active {
    background-color: #3C3D3F;
    color: #CFCFCF;
}

.catfight_output-plain {
    background-color: #262729;
    color: #A7A7A7
}

.catfight_output-passed {
    border: 3px solid #3FBA4A;
}

.catfight_output-failed {
    border: 3px solid #CD4E3E;
}

.output_span-green {
    color: #3FBA4A
}

.output_span-red {
    color: #CD4E3E
}

.catfight_navbar {
    grid-column: 1 / end;
    grid-row: 1;
    width: 100%;
}

.catfight_editor {
    grid-column: 4 / 8;
    grid-row: 2;
    margin-left: 10px;
    margin-top: 10px;
}

.catfight_editor-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    background-color: #262729;
    color: #efefef;
    padding-top: 7px;
    padding-left: 10px;
    font-size: 15px;
    line-height: 21px;
    font-weight: 100;
    i {
        margin-right: 10px;
    }

    i:hover {
        cursor: pointer;
    }
}

.catfight_tests {
    grid-column: 3;
    grid-row: 2;
    height: 37.7vh;//vh;
    background-color: #161616;
    margin-top: 10px;
}

.catfight_tests-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    background-color: #282828;
    padding-top: 10px;
    padding-left: 10px;

    div i {
        margin-right: 15px;
    }

    div i:hover {
        cursor: pointer;
    }
}

.catfight_tests-div {
    width: 100%;
    height: calc(100% - 60px);
    background-color: #161616;
}

.catfight_button-container {
    background-color: #303133;
    height: 60px;
    display: flex;
    justify-content: space-between;

    .fa-caret-right{
        margin-right: 4px;
        font-size: 16px;
        padding-top: 0px;
    }

    .fa-forward {
        margin-right: 4px;
        font-size: 12px;
    }
}

.catfight_button-container div {
    display: flex;
    justify-content: space-between;
}

.catfight_button-container button {
    background-color: #6795de;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #131414;
    width: 94px;
    height: 31px;
    border-radius: 4px;
    border: none;
    margin-top: 13px;
    margin-left: 15px;
    transition: 0.4s
}

.catfight_button-container button:hover {
    background-color: #0b0c0c;
    cursor: pointer;
}

.catfight_button-container .catfight_skip-button {
    background-color: #181919;
    opacity: 0.8;
    color: #6795de;
    width: 65px;
    height: 31px;
    margin-left: 0px;
    margin-right: 15px;
}

.catfight_button-container .catfight_reset-button {
    background-color: #181919;
    opacity: 0.8;
    color: #6795de;
    width: 58px;
    height: 30px;
}

.catfight_button-container .catfight_sample-button {
    background-color: #181919;
    opacity: 0.8;
    color: #6795d3;
    border: 1px solid #6795d3;
    width: 140px;
    height: 30px;
    padding: 5px;
}

.catfight_button-container .catfight_attempt-button:hover {
    background-color: #7ca4e3;
}

.catfight_button-container .catfight_submit-button {
    background-color: #7c9a44;
    color: #131414;
    width: 120px;
}

.catfight_button-container .catfight_submit-button:hover {
    background-color: #8aac4c;
}
 
.output_general {
    width: 95%;
    margin: 10px auto;
    border-radius: 4px;
    height: 50px;
    padding: 1rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    overflow: none;
}

.output_passed {
    border: 1px solid green;
    background-color: rgba(0, 250, 50, 0.2);
}

.output_failed {
    border: 1px solid #c05c48;
    background-color: #584747;
}

.output_summary-container {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #363737;
    background-color: #131414;
}

.output_summary {
    display: flex;
    width: 95%;
    margin: 0 auto;
    height: 50px;
    padding-top: 1rem;
    padding-left: 0.4rem;
    span {
        margin-right: 20px;
    }
}

.tests-wrapper {
    padding-top: 20px;
    width: 97%;
    margin: 0 auto;
    overflow-y: scroll;
    height: 85%;
}

.catfight_top-header {
    grid-column: 1 / 8;
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.catfight_top-header-right {
    height: 90%;
    grid-row: 1;
    grid-column: 3 / 8;
    ul {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        padding-right: 5px;
        float: right;
        font-size: 30px;
    }
    ul li:nth-child(1) {
        height: 50px;
        width: 50px;
        background-color: #3C3D3F;
        padding-top:9px;
        padding-left: 10px;
    }
    ul li:nth-child(2) {
        height: 50px;
        width: 50px;
        background-color: #6F6F71;
        padding-top:9px;
        padding-left: 13px;
    }
}

.catfight_top-header-left {
    height: 100%;
    grid-row: 1;
    grid-column: 1 / 3;
}
