
.catfight_wrapper {
    width: 99%;
    max-width: 1800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.catfight_output {
    grid-column: 1;
    grid-row: 2 / 3;
    background-color: black;
    width: 100%;
    height: 90vh;
    margin-right: 10px;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

.catfight_navbar {
    grid-column: 1 / end;
    grid-row: 1;
    width: 100%;
}

.catfight_editor {
    grid-column: 2;
    grid-row: 2;
    margin-left: 10px;
    margin-top: 20px;
}

.catfight_tests {
    grid-column: 3;
    grid-row: 2;
    width: 50vw;
    height: 291px;
    background-color: black;
    margin-top: 10px;
}

#ace1 {
    width: 50vw !important;
    height: 400px !important;
}

.catfight_tests-div {
    width: 100%;
    height: 80%;
    background-color: peachpuff;
}