$input-active-color: #131414;
$tab-background-color: #131414;

.create_main-wrapper {
    max-width: 1800px;
    width: 95%;
    margin: 0px auto;
    display: grid;
    font-family: 'Lato';
    color: #efefef;
    font-weight: 100;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 1.7fr;
}

.create_main-header {
    width: 100%;
    height: 40px;
    background-color: #131414;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-top: 30px;
    display: flex;
    .link {
        text-decoration: none;
    }
}

.create_main-header div {
    padding-top: 12px;
    height: 100%;
    width: 104px;
    font-size: 14px;
    color: #BDBDBD;
    text-align: center;
    text-decoration: none;
}
.create_main-header div i {
    margin-right: 6px;
}

.create_main-header-blue:hover {
    background-color: #6795de;
    color: #ffffff;
    cursor: pointer;
}

.create_main-header-red:hover {
    background-color: #b1361e;
    color: #ffffff;
    cursor: pointer;
}

.create_left-inputs {
    grid-column: 1;
    grid-row: 2 / 3;
    width: 98%;
}

.create_name-input-container {
    margin-top: 40px;

    h3 {
        display: inline-block;
        background-color: #2B2C2E;
        height: 30px;
        // width: 52px;
        color: #ebebeb;
        padding: 7px;
        font-size: 14px;
        border-radius: 4px;
    }
}

.create_name-input {
    width: 100%;
    background-color: #2B2C2E;
    border: none;
    height: 34px;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 10px;
    color: #ebebeb;
}

.create_name-input:focus {
    background-color: $input-active-color;
    outline: none;
    color: #efefef;
    line-height: 16px;
    border: 1px solid #efefef;
}

.create_rank-container {
    margin-top: 30px;

    h3 {
        display: inline-block;
        background-color: #2B2C2E;
        height: 30px;
        // width: 150px;
        color: #ebebeb;
        padding: 7px;
        font-size: 14px;
        border-radius: 4px
    }
}

.create_rank-container h3 i {
    margin-right: 7px;
}

.create_rank-selector {
    width: 100%;
    background-color: #2B2C2E;
    border: none;
    height: 34px;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 10px;   
    appearance: none;
    color: #BDBDBD;
}

.create_rank-selector:focus {
    background-color: $input-active-color;
    outline: none;
    color: #efefef;
    line-height: 16px;
    border: 1px solid #efefef;
}

.create_tags-input-container {
    margin-top: 30px;
    
        h3 {
            display: inline-block;
            background-color: #2B2C2E;
            height: 30px;
            // width: 163px;
            color: #ebebeb;
            padding: 7px;
            font-size: 14px;
            border-radius: 4px;
        }
}

.create_left-ace {
    margin-top: 30px;
    grid-column: 1;
    grid-row: 3 / 4;
    background-color: $tab-background-color;
    width: 98%;
    margin-bottom: 20px;
    max-height: calc(100% - 40px);
    .create_editor-wrapper {
        max-height: calc(100% - 40px);
        overflow: initial;
    }
}

.create_left-ace-header {
    width: 100%;
    height: 40px;
    background-color: #2B2C2E;
    display: flex;    
}

.create_complete {
    height: 100%;
    width: 155px;
    text-align: center;
    padding-top: 12px;
}   

.create_initial {
    height: 100%;
    width: 132px;
    text-align: center;
    padding-top: 12px;
}

.create_preloaded {
    height: 100%;
    width: 105px;
    text-align: center;
    padding-top: 12px;
}

.create_help {
    height: 100%;
    width: 91px;
    text-align: center;
    padding-top: 12px;

    i {
        margin-right: 4px;
    }
}

.create_active {
    background-color: #404142;
}

.create_left-ace-header div:hover {
    cursor: pointer;
}

.create_right-ace {
    grid-row: 3 / 4;
    grid-column: 2;
    margin-top: 30px;
    background-color: $tab-background-color;
    width: 98%;
    margin-bottom: 20px;
    .create_editor-wrapper {
        height: calc(100% - 40px);
        max-height: 458px;
    }

}

.create_example {
    height: 100%;
    width: 161px;
    text-align: center;
    padding-top: 12px;
}

.create_test {
    height: 100%;
    width: 107px;
    text-align: center;
    padding-top: 12px;
}

.create_editor-wrapper {
    height: 100%;
    max-height: 100%;
    width: 100%;
    // padding: 0.5rem;
    overflow-y: scroll;
    #ace1 {
        width: 100%;
        height: 100%;
    }
}

.create_right-slate {
    margin-top: 30px;
    grid-column: 2;
    grid-row: 2 / 3;
    background-color: $tab-background-color;
    width: 98%;
    .create_editor-wrapper {
        height: calc(100% - 62.5px);
        max-height: 230px;
    }
}

.create_preview {
    height: 100%;
    width: 113px;
    text-align: center;
    padding-top: 12px;

    i {
        margin-right: 4px;
    }
}

.create_right-ace-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #303133;
    padding-top: 10px;


}

.create_right-ace-buttons button {
    min-width: 160px;
    min-height: 31px;
    padding: 0 10px;
    border-radius: 4px;
    background-color: #7c9a44;
    color: #131414;
    border: none;
}

.create_right-ace-buttons div {
    min-width: 160px;
    min-height: 31px;
    border-radius: 4px;
    padding: 0 10px;
    background: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unstarted {
    border: 2px solid #6996DC;
    color: #6996DC;
}

.failed-box {
    // border: 4px solid #c05c48;
    // color: #c05c48;
    // background-color: #584747;
    animation-name: fail;
    animation-duration: 1s;
    animation-iteration-count: 3;
}

.create_right-ace-buttons button:hover {
    background-color: #8aac4c;
    cursor: pointer;
}

.unfinished {
    border: 2px solid red;
}

@keyframes fail {
    from {
        border: 4px solid red; // #c05c48;
    }
    30% {
        border: 4px solid transparent; // white;
    }
    90% {
        border: 4px solid red; // #c05c48;
    }
}
