button {
  cursor: pointer;
  outline: none;
  font-family: 'lato'; }

.button_solid {
  background-color: #6996DC;
  border: none;
  height: 30px;
  color: #262729;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 12px;
  padding: 0 11px;
  margin: 0 5px;
  transition: background-color .4s; }

.button_hollow {
  border: 1px solid #6996DC;
  background-color: #222222;
  color: #7DA5E1;
  height: 30px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 12px;
  padding: 0 11px;
  margin: 0 5px;
  transition: background-color .4s; }

.button_solid:hover {
  background-color: #7DA5E1; }

.button_hollow:hover {
  background-color: #0B0C0C; }

.button_difficulty {
  position: relative;
  height: 28px;
  width: 44px;
  border: none;
  background: #181919;
  border-radius: 12px;
  margin: 0 10px;
  color: green; }
  .button_difficulty div {
    height: 14px;
    width: 14px; }
  .button_difficulty .skew-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    border-left: 3px solid green;
    border-top: 3px solid green;
    transform: skew(-30deg); }
  .button_difficulty .skew-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    border-right: 3px solid green;
    border-top: 3px solid green;
    transform: skew(30deg); }
  .button_difficulty .skew-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    border-left: 3px solid green;
    border-bottom: 3px solid green;
    transform: skew(30deg); }
  .button_difficulty .skew-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    border-right: 3px solid green;
    border-bottom: 3px solid green;
    transform: skew(-30deg); }
  .button_difficulty .rating {
    position: absolute;
    top: 25%;
    left: 8px;
    height: 50%;
    display: flex;
    flex-direction: row; }
    .button_difficulty .rating div:nth-child(1) {
      margin-right: 4px; }

#white {
  color: #E6E6E6; }
  #white div {
    border-color: #E6E6E6; }

#white:hover {
  background-color: #E6E6E6;
  color: #131414;
  font-weight: bolder; }
  #white:hover div {
    background-color: #E6E6E6; }

#whiteNoHover {
  color: #E6E6E6; }
  #whiteNoHover div {
    border-color: #E6E6E6; }

#blue {
  color: #3F7FB9; }
  #blue div {
    border-color: #3F7FB9; }

#blue:hover {
  background-color: #3F7FB9;
  color: #131414;
  font-weight: bolder; }
  #blue:hover div {
    background-color: #3F7FB9; }

#blueNoHover {
  color: #3F7FB9; }
  #blueNoHover div {
    border-color: #3F7FB9; }

#purple {
  color: #856EC5; }
  #purple div {
    border-color: #856EC5; }

#purple:hover {
  background-color: #856EC5;
  color: #131414;
  font-weight: bolder; }
  #purple:hover div {
    background-color: #856EC5; }

#purpleNoHover {
  color: #856EC5; }
  #purpleNoHover div {
    border-color: #856EC5; }

#gold {
  color: #EBB52F; }
  #gold div {
    border-color: #EBB52F; }

#gold:hover {
  background-color: #EBB52F;
  color: #131414;
  font-weight: bolder; }
  #gold:hover div {
    background-color: #EBB52F; }

#goldNoHover {
  color: #EBB52F; }
  #goldNoHover div {
    border-color: #EBB52F; }

.difficulty_readOnly {
  cursor: text; }
