.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lato';
  line-height: 1.4; }

/*CODEWARS RED*/
.dashboard_codewars-red {
  width: 907px;
  height: 118px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  padding: 15px; }

.dashboard_codewars-red-inner-container {
  font-size: 14px;
  color: #CCCCCD;
  width: 100%; }
  .dashboard_codewars-red-inner-container h5 {
    font-size: 16px;
    margin-bottom: 7px; }

.dashboard_codewars-button {
  background-color: #1c1f1f;
  color: #842015;
  border-color: #842015;
  width: auto;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 0.2px;
  border-radius: 4px;
  height: 30px;
  margin-top: 11px; }

.dashboard_codewars-button:hover {
  background-color: #0b0c0c; }

.dashboard_codewars-icon i {
  width: 60px;
  height: 60px;
  font-size: 30px;
  color: #9F1406; }

/*ALLIES*/
.dashboard_allies-container {
  width: 907px;
  height: 201px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 15px auto;
  padding: 15px;
  color: #ABABAC; }
  .dashboard_allies-container h4 {
    margin-bottom: 14px;
    color: #ECECEC; }
    .dashboard_allies-container h4 i {
      margin-right: 5px;
      font-size: 13px; }
  .dashboard_allies-container p {
    margin-bottom: 16px; }
  .dashboard_allies-container table {
    width: 90%;
    text-align: left;
    margin: 30px auto; }
    .dashboard_allies-container table .dashboard_table-large {
      width: 300px; }

/* MORE HONOT */
.dashboard_more-honor {
  width: 907px;
  height: 120px;
  background-color: #383549;
  margin: 15px auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  padding: 15px; }
  .dashboard_more-honor .dashboard_codewars-button {
    background-color: #1c1f1f;
    color: #6390E1;
    border-color: #6390E1; }
  .dashboard_more-honor .dashboard_codewars-button:hover {
    background-color: #0b0c0c; }
  .dashboard_more-honor .dashboard_codewars-icon i {
    width: 60px;
    height: 60px;
    font-size: 30px;
    color: #CCCCCD; }

/* LOGIN */
.login_wrapper {
  width: 320px;
  height: 80vh;
  background-color: #262729;
  margin: 70px auto; }
  .login_wrapper img {
    display: block;
    width: 180px;
    margin: 0 auto;
    border-radius: 4px; }
  .login_wrapper h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    font-family: "Lato";
    color: #D5D5D5; }
  .login_wrapper .login_helper {
    width: 100%;
    height: 80px; }
  .login_wrapper .subtitle-box {
    text-align: center;
    width: 180px;
    height: 35px;
    background-color: #15151d;
    margin: 80px auto;
    border-radius: 4px;
    padding-top: 9px;
    cursor: pointer; }
    .login_wrapper .subtitle-box a {
      color: #D5D5D5;
      text-decoration: none; }
  .login_wrapper .subtitle-box:hover {
    background-color: #0B0C0C; }
