.test-border {
  margin: 0.75rem;
  border-radius: 0.25rem;
  overflow: hidden; }

.passed {
  border: 2px solid green; }

.failed {
  border: 2px solid red;
  color: red; }

.Test {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #222;
  padding: 1rem;
  height: auto;
  transition: height 0.5s; }
  .Test .test-title {
    display: flex;
    justify-content: space-between;
    align-items: space-between; }
    .Test .test-title em {
      color: white; }

.done-button {
  display: flex;
  justify-content: center; }

.closed:hover, .test-title:hover, .done-button:hover {
  cursor: pointer; }

.parameter-box {
  margin-top: 0.5rem; }

.open-test {
  display: flex;
  flex-direction: column; }
  .open-test .input-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.75rem 1rem; }
    .open-test .input-line div {
      display: flex; }
    .open-test .input-line input, .open-test .input-line select {
      max-width: 40%;
      height: 1.5rem;
      background: #111;
      border: none;
      color: white; }
  .open-test .test-input-placeholder {
    height: 1rem; }
