
.test-border {
    margin: 0.75rem;
    border-radius: 0.25rem;
    overflow: hidden;
}

.passed {
    border: 2px solid green;
}

.failed {
    border: 2px solid red;
    color: red;
}

.Test {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #222;
    padding: 1rem;
    height: auto;
    transition: height 0.5s;

    .test-title {
        display: flex;
        justify-content: space-between;
        align-items: space-between;
        em {
            color: white;
        }
    }

}

// .closed {
//     flex-direction: row;
//     justify-content: space-between;
// }

.done-button {
    display: flex;
    justify-content: center;

}

.closed:hover, .test-title:hover, .done-button:hover {
    cursor: pointer;
}

.parameter-box {
    margin-top: 0.5rem;
}

.open-test {
    display: flex;
    flex-direction: column;

    .input-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.75rem 1rem;
        div {
            display: flex;
        }
        input, select {
            max-width: 40%;
            height: 1.5rem;
            background: #111;
            border: none;
            color: white;
            // height: 1rem;
        }
    }

    .test-input-placeholder {
        // background: #222;
        height: 1rem;
    }
}
