.Test {
  display: flex;
  flex-direction: column; }
  .Test .input-line {
    display: flex;
    justify-content: space-between; }
    .Test .input-line div {
      display: flex; }
    .Test .input-line input {
      max-width: 50%; }
  .Test .test-input-placeholder {
    height: 1rem; }
