.navbar-parent {
  height: 55px;
  color: #C1C1C1;
  font-family: "Lato"; }
  .navbar-parent a, .navbar-parent button {
    width: 100%; }
  .navbar-parent i {
    font-size: 20px;
    margin-right: 15px;
    margin-left: 7px;
    color: #C1C1C1; }

.navbar {
  background: #222222;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 11;
  font-size: 18px; }

.navbar-hover {
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center; }

.lion-box {
  border: 3px solid #A32024;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px; }

.hide-pull-down {
  display: none; }

.pull-down-menu {
  position: absolute;
  top: 55px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 250px;
  background: #222222;
  transform: translateY(-100%);
  animation: downwards .42s;
  animation-fill-mode: forwards;
  z-index: 10; }

.pull-up-menu {
  position: absolute;
  top: 55px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 250px;
  background: #222222;
  animation: upwards .5s;
  animation-fill-mode: forwards; }

.pull-down-menu button, .pull-up-menu button {
  background: #222222;
  border: none;
  height: 50px;
  color: #C1C1C1;
  font-size: 14px;
  text-align: left;
  border-radius: 0; }

.pull-down-menu button:hover, .pull-up-menu button:hover {
  background: #AC3028; }

@keyframes upwards {
  100% {
    transform: translateY(-100%); } }

@keyframes downwards {
  100% {
    transform: translateY(0%); } }

.navbar_right {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  height: 100%;
  width: 20%;
  max-width: 350px;
  min-width: 270px;
  z-index: 12;
  float: right; }
  .navbar_right img {
    margin-left: 32px;
    height: 40px;
    border-radius: 4px;
    width: 40px; }
  .navbar_right div {
    width: 44px; }
