.search{
    font-family: 'lato';
    .container {
        width:907px;
        margin-left: 50%;
        transform: translateX(calc(-907px / 2));
        display: grid;
        grid-template-columns: repeat(3,3FR);
        background: linear-gradient((90deg), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #2B2C2E);
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .column {
        grid-column: 1/2;
        background: #262729;
        height: 100vh;
    }
    .results {
        grid-column: 2/4;
        height: 100%;
    }
}